
html, body {
  overflow-x: hidden;
  
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


@import "tailwindcss";

@theme {
  --color-primary: black;
  --font-revive: "MyCustomFont", sans-serif;
  --font-gsans: "gsans", sans-serif;
  --font-parafont: "para", sans-serif;
  --font-parafont2: "para2", sans-serif;
  --font-wide: "wide", sans-serif;
  --font-hidrom: "hidrom", sans-serif;
  --font-sunny: "sunny", sans-serif;
  --font-condenso: "condenso", sans-serif;
  --font-humane: "humane", sans-serif;
  --font-boldonse: "boldonse", sans-serif;
  --font-kimotto: "kimotto", sans-serif;
  --font-bbh: "bbh", sans-serif;
  --font-doto: "doto", sans-serif;
  --font-orion: "orion", sans-serif;
  --font-ferrite: "ferrite", sans-serif;
  --font-goth: "Goth", sans-serif;
  --font-skywall: "skywall", sans-serif;
  --font-floripa: "floripa", sans-serif;
  --font-donglelight: "donglelight", sans-serif;
  --font-skybold: "skybold", sans-serif;
}

/* Set global site background */
body {
  @apply bg-primary;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('../src/assets/fonts/revive.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'para';
  src: url('../src/assets/fonts/Dongle-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'gsans';
  src: url('../src/assets/fonts/gsansregular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'para2';
  src: url('../src/assets/fonts/Dongle-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'text_font';
  src: url('../src/assets/fonts/Dongle-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wide';
  src: url('../src/assets/fonts/wide2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hidrom';
  src: url('../src/assets/fonts/HIDROM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sunny';
  src: url('../src/assets/fonts/sunny.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'condenso';
  src: url('../src/assets/fonts/Condenso.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'humane';
  src: url('../src/assets/fonts/Humane-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'boldonse';
  src: url('../src/assets/fonts/Boldonse-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kimotto';
  src: url('../src/assets/fonts/Kimotto.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bbh';
  src: url('../src/assets/fonts/bbh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'doto';
  src: url('../src/assets/fonts/doto2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'orion';
  src: url('../src/assets/fonts/Orion.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ferrite';
  src: url('../src/assets/fonts/Ferrite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goth';
  src: url('../src/assets/fonts/Gothspecial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'skywall';
  src: url('../src/assets/fonts/Skywall.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'floripa';
  src: url('../src/assets/fonts/Floripa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'donglelight';
  src: url('../src/assets/fonts/Dongle-Light.ttf') format('truetype');
  
}
@font-face {
  font-family: 'skybold';
  src: url('../src/assets/fonts/SkyboldDemo.otf') format('opentype');
  
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

.hero-letter {
  opacity: 0;
  transform: translateY(40px) scale(0.9);
  color: rgba(255, 255, 255, 0); /* start fully transparent */
}

.hero-letter.animate {
  animation: riseUp 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(120px) scale(0.9);
    color: rgba(228, 222, 222, 0.34);
  }
  
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.03);
    color: rgba(255, 255, 255, 0.6);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
    color: rgba(209, 213, 219, 1); /* Tailwind text-gray-300 */
  }
}

@theme {
  --inset-shadow-md: inset 0 10px 11px rgba(0, 0, 0, 0.25); 
}